@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* -------------------------- NAVBAR -------------------------- */

nav {
  @apply justify-start h-[55px] shadow-md;
}

nav header {
  @apply justify-between gap-10 max-w-full;
}

nav > header > ul {
  @apply w-full;
}

.nested-ul {
  @apply laptop:justify-center gap-10;
}
/* -------------------------- Home Page -------------------------- */

.image-container {
  width: 100%; /* Set the desired width */
  height: 40rem; /* Set the desired height */
  overflow: hidden; /* Crop overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image inside the div */
.image-container img {
  width: 100%; /* Fit image to div width */
  height: 100%; /* Fit image to div height */
  object-fit: cover; /* Preserve aspect ratio, crop excess */
}

.image-container a {
  position: absolute; /* Absolute position relative to the container */
  bottom: 5rem; /* Position from the bottom */
  right: 40rem; /* Position from the right */
  padding: 15px 40px;
  background-color: #e8d6c5;
  color: #5c4033;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.image-container a:hover {
  background-color: #d6c2af;
}

.shop-now-button {
  padding: 5px 10px;
  background-color: #e8d6c5;
  color: #5c4033;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

/* -------------------------- Contact Form -------------------------- */
.ContactForm {
  @apply bg-gray-100 rounded shadow p-6;
  
}

.contact-Inp {
  @apply w-full bg-white rounded border border-transparent;
}

.contact-btn {
  @apply inline-block text-center text-white bg-blue-500 rounded cursor-pointer transition-all duration-[800ms];
}

/* -------------------------- Modal -------------------------- */
.customModal > button {
  @apply bg-white;
}
